*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
}
.calculator{
      background: #f2f2f2;
      padding: 20px;
      position: relative;
      max-width: 400px;
      border-radius: 5px;
      margin: 0 auto;
       margin-top: 40px;
       padding-top: 30px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.calculator span{
      position: absolute;
      right: 6%;
      top: 1%;
      font-style: italic;
}
#result{
      width: 100%;
      border: none;
      box-shadow:0 2px 5px rgba(0,0,0,0.3) inset;
      padding: 15px 25px;
      box-shadow: 0 ;
      text-align: right;
      border: 5px;
      font-size: 24px;
}
.buttons{
     display: grid;
     grid-gap: 10px;
     margin-top: 20px;
     grid-template-columns: repeat(4,1fr);
}
button{
      padding: 10px;
      border: none;
      cursor: pointer;
      transition:  background 0.3s ease;
      border-radius: 5px;
      font-size: 24px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
button:hover{
      background: #ddd ;
}
.clear{
      background-color: #ff4136;
      color: #fff;
}
.number,.decimal{
      background: #fff;
}
.operator{
      background: #0074d9;
      color: #fff;
}
.equals{
      color: #fff;
      background-color: #01ff70;
      grid-row:  span 3;
}